{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Добро пожаловать!</h1>
                <p class="fs-4">Gym Assistant позволяет вам записывать свои тренировки, отслеживать прогресс,
                    изучать новые упражнения, планировать питание и многое другое. Хотите ли вы похудеть, нарастить
                    мышечную массу или просто оставаться в форме, у Gym Assistant есть все необходимое для этого.
                    Gym Assistant прост в использовании, настраиваем и интересен.</p>
                <a class="btn btn-primary btn-lg" href="#!"
                    style="background-color: #f2c02c; border-color: #f2c02c; color: black;">Начать
                    фитнес-путешествие</a>
            </div>
        </div>
    </div>
</header>

<section class="pt-4">
    <div class="container px-lg-5">
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature text-black rounded-3 mb-4 mt-n4" style="background-color: #f2c02c;"><i
                                class="fa fa-list-check"></i></div>
                        <h2 class="fs-4 fw-bold">Журналы тренировок</h2>
                        <p class="mb-0">Записывайте свои занятия в тренажерном зале и отслеживайте свой прогресс с
                            помощью журналов тренировок. Вы можете легко регистрировать свои упражнения, подходы,
                            повторения и веса, а также просматривать историю и статистику тренировок. Журналы
                            тренировок помогут вам достичь лучшего результата.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature text-black rounded-3 mb-4 mt-n4" style="background-color: #f2c02c;"><i
                                class="fa fa-line-chart"></i></div>
                        <h2 class="fs-4 fw-bold">Диаграммы прогресса</h2>
                        <p class="mb-0">Визуализируйте свое фитнес-путешествие с помощью диаграмм прогресса. Вы
                            можете увидеть, как со временем улучшаются ваши результаты по различным показателям
                            фитнеса, таким как сила, выносливость или состав тела.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature text-black rounded-3 mb-4 mt-n4" style="background-color: #f2c02c;"><i
                                class="fa fa-database"></i></div>
                        <h2 class="fs-4 fw-bold">База данных упражнений</h2>
                        <p class="mb-0">Изучите новые упражнения и отточите свою технику с помощью базы данных
                            упражнений. Получите доступ к обширной библиотеке упражнений с подробными
                            инструкциями, целевыми группами мышц и правильной техникой выполнения.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature text-black rounded-3 mb-4 mt-n4" style="background-color: #f2c02c;"><i
                                class="fa fa-cookie-bite"></i></div>
                        <h2 class="fs-4 fw-bold">План Питания</h2>
                        <p class="mb-0">Создавайте персонализированные планы питания или выберите уже существующий.
                            Вы
                            можете настроить свой план питания в соответствии со своими целями и предпочтениями, а
                            также отслеживать потребление калорий, макро- и
                            микроэлементов. План питания поможет вам достичь поставленных целей в фитнесе и
                            оптимизировать здоровье.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature text-black rounded-3 mb-4 mt-n4" style="background-color: #f2c02c;"><i
                                class="fa fa-book"></i></div>
                        <h2 class="fs-4 fw-bold">Библиотека тренировок</h2>
                        <p class="mb-0">Выбирайте из множества готовых планов тренировок по типу, продолжительности,
                            интенсивности, оборудованию и группам мышц и найдите те, которые соответствуют вашим
                            потребностям и предпочтениям.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature text-black rounded-3 mb-4 mt-n4" style="background-color: #f2c02c;"><i
                                class="fa fa-puzzle-piece"></i></div>
                        <h2 class="fs-4 fw-bold">Генератор тренировок</h2>
                        <p class="mb-0">Создайте индивидуальный план тренировок и приготовьтесь попотеть с помощью
                            генератора тренировок. Вы можете ввести свою цель, ограничение по времени, доступное
                            оборудование и предпочтительные упражнения и получить тренировку, соответствующую вашим
                            критериям.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}