{% extends 'base.html' %}

{% block title %}Workout calendar{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="card text-light bg-dark col-10 col-sm-6 col-md-4 col-lg-3 m-2">
        <div class="card-wrapper">
            <div class="card-box align-left">
                <h5 class="card-title">Понедельник</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Упражнение 1</li>
                    <li class="list-group-item">Упражнение 2</li>
                    <li class="list-group-item">Упражнение 3</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card text-light bg-dark col-10 col-sm-6 col-md-4 col-lg-3 m-2">
        <div class="card-wrapper">
            <div class="card-box align-left">
                <h5 class="card-title">Вторник</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Упражнение 1</li>
                    <li class="list-group-item">Упражнение 2</li>
                    <li class="list-group-item">Упражнение 3</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card text-light bg-dark col-10 col-sm-6 col-md-4 col-lg-3 m-2">
        <div class="card-wrapper">
            <div class="card-box align-left">
                <h5 class="card-title">Среда</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Упражнение 1</li>
                    <li class="list-group-item">Упражнение 2</li>
                    <li class="list-group-item">Упражнение 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="card text-light bg-dark col-10 col-sm-6 col-md-4 col-lg-3 m-2">
        <div class="card-wrapper">
            <div class="card-box align-left">
                <h5 class="card-title">Четверг</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Упражнение 1</li>
                    <li class="list-group-item">Упражнение 2</li>
                    <li class="list-group-item">Упражнение 3</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card text-light bg-dark col-10 col-sm-6 col-md-4 col-lg-3 m-2">
        <div class="card-wrapper">
            <div class="card-box align-left">
                <h5 class="card-title">Пятница</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Упражнение 1</li>
                    <li class="list-group-item">Упражнение 2</li>
                    <li class="list-group-item">Упражнение 3</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card text-light bg-dark col-10 col-sm-6 col-md-4 col-lg-3 m-2">
        <div class="card-wrapper">
            <div class="card-box align-left">
                <h5 class="card-title">Суббота</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Упражнение 1</li>
                    <li class="list-group-item">Упражнение 2</li>
                    <li class="list-group-item">Упражнение 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}